{% extends 'market/navigation_part.html' %}
{% load static %}
{% block content %}
	<hr>
	<div class="media container">
		{% if bidder_list %}
			{#        <a class="article-title" >Available Bids for the item and BidList for {{ product_list.title }}</a><br>#}
			<table class="table table-hover table-striped">
				<thead>
				<tr bgcolor="#5f9ea0">
					<th>Bidder's Name</th>
					<th>Bid Amount</th>
					<th>Bid time</th>
				</tr>
				</thead>
				<tbody>
				{% for bid in bidder_list %}
					<tr>
						<td>{{ bid.user_name }}</td>
						<td>Ksh. {{ bid.bid_amount }}</td>
						<td>{{ bid.created }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h2 style="text-align: center; color: black">No bids!!</h2>
		{% endif %}
		<div>
			<a href="{% url 'market-home' %}">Go Back Home</a>
		</div>
	</div>
	<br>
	<br><br> <br><br>  <br><br><br><br> <br><br> <br><br> <br><br>
{% endblock %}