{% load static %}
<script src="{% static 'javascript/func.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>AuctionIt</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdowns.css' %}">
	<link rel="stylesheet" type="text/css" href="/market/static/css/main.css">



</head>
<body onload="startTime()">
<div class="jumbotron">
	<div class=" text-center">
		<h1>AuctionIt</h1>
		<p>come, buy, live</p>
		<h3>
			<div id="txt"></div>
		</h3>
	</div>
</div>
<nav class="navbar navbar-inverse fixed-top">
	<div class="container-fluid">
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'about' %}">AuctionIt</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class=""><a href="{% url 'market-home' %}">Relics</a></li>
                <li class=""><a href="{% url 'agri-product' %}">Agriculture</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'product-create' %}">Sell</a></li>
					<li><a href="{% url 'profile' %}">Profile</a></li>
                    </li>
					<li><a href="{% url 'about' %}">Contact</a></li>
                    </ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Register</a></li>
					</ul>
				{% endif %}
		</div>
	</div>
</nav>
<div class="container-fluid">
	{% block content %}
		{% for post in object_list %}

			<article>
				<div class=" w-full sm:w-1/1 md:w-1/2 flex flex-col p-1">
					{#    <div class="row">#}
					<div class="col-sm-4">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<a class="btn" href="{% url 'product-detail' post.id %}">
									{{ post.title }}, {{ post.type }} sold by {{ post.seller }} </a>
							</div>
							<div class="panel-body "><a href="{% url 'product-detail' post.id %}">
								<img src="{{ post.image.url }}"
								     class="sell-img img-responsive" style="width:100%" alt="Image"> </a>
								<div class="panel-footer">going live on: {{ post.sell_on|date:"F d, H:i" }}</div>
								<div class="panel-footer">
									<a class="btn btn-dark mbr-3" href="{% url 'product-detail' post.id %} ">
										<b> More details </b> </a></div>
							</div>
						</div>
					</div>
			</article>
		{% endfor %}
	{% endblock content %}
</div>
<hr>
<div class="container-fluid">
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-5" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-5" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-5" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-5" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-5" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-5" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
</div>
</body>
<hr>
<footer class="container-fluid text-center" style="background: black; color: #f7f7f7; padding-top: 1%">
	<p> © 2019 AUCTIONIT. All Rights Reserved | Design by <a href="#"> Apeiron Analytics</a></p>
</footer>
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        }
        ;  // add zero in front of numbers < 10
        return i;
    }
    $('.dropdown-toggle').dropdown()
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
</html>
